doctype
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Se ha solicitado una orden de comida especial
      p Un pasajero ha solicitado una orden de comida especial en Gastronomic Air... 
        | Esta información puede ser visualizada a través del siguiente enlace, seleccionando la opción proveedor
      p #[a(href="http://localhost:3001/") #[span Ver comidas especiales solicitadas]]
      p Notificación de Gastronomic Air