.select-reports{
	width: 50%;
	margin-left: 0px;
	margin-bottom: 20px;
}

.title-report{
	margin-top: 30px;
    margin-bottom: 20px;
}

.btn-report{
	margin-top: 0px;
}

.title-main-report{
	margin-top: 10px;	
}

.text-reports{
	height: 35px;
}

.title-report-two{
	margin-left: 160px;
}

.container-report{
	margin-top: 0px;
}

.btn-reports{
	margin-top: 30px;
}