doctype
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Gracias por volar con Gastronomic Air
      p Haz realizado tu compra exitosamente... 
        | Recuerda que tienes hasta 24 horas antes del viaje para hacer tu check-in
      p #[a(href="http://localhost:3001/ViewCheck") #[span Realiza tu check-in aquí]]
      p Volando con Gastronomic Air