doctype
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Gracias por volar con Gastronomic Air
      p Tu eres un cliente especial y estamos muy felices de tenerte con nosotros... 
        | Es muy importante conocer tu opinión sobre las comidas especiales,
        | por eso te enviamos la encuesta de satisfacción que podrás responder a través del siguiente enlace.
      p #[a(href="http://localhost:3001/Inquiry") #[span Enlace de la encuesta]]
      p Volando con Gastronomic Air