.button-confirm-purchase{
	margin-top: 40px;
	background-color: #0050D0;
    border: none;
    cursor: pointer;
    height: 40px;
    color: white;
}

.container-title-confirm{
	display:flex;
}

.title-name-pass{
	margin-left: 225px;
}

.title-email{
	margin-left: 125px;
}

.title-two{
	margin-left: 50px;
}

.input-select{
	width: 200px;
}

.form-purchase{
	height: 400px;
	float: none;
	margin-left: 10px;
}

.title-two-form-pur{
	margin-left: 50px;
}

.title-two-doc{
	margin-left: 50px;
}

.form-purchase .container-title{
	margin-top: 10px;
}
