.select-reports{
	width: 50%;
	margin-left: 0px;
	margin-bottom: 20px;
}

.title-report{
	margin-top: 50px;
    margin-bottom: 20px;
}

.btn-report{
	margin-top: 0px;
}

.title-main-report{
	margin-top: 10px;	
}
    